# Pandas

## 1: Create 3 indexes with name, roll number, fees amount in a vector and print the data frame by taking values in indexes.

In [17]:
import pandas as pd

# Create data using a dictionary
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Roll Number': [101, 102, 103],
    'Fees Amount': [5000, 6000, 5500]
}

# Create a DataFrame using the data and set the specified indexes
df = pd.DataFrame(data, index=['Index1', 'Index2', 'Index3'])

# Print the DataFrame
print(df)

print(pd.DataFrame(data["Name"]))
print(pd.DataFrame(data["Roll Number"]))
print(pd.DataFrame(data["Fees Amount"]))

         Name  Roll Number  Fees Amount
Index1   John          101         5000
Index2  Alice          102         6000
Index3    Bob          103         5500
       0
0   John
1  Alice
2    Bob
     0
0  101
1  102
2  103
      0
0  5000
1  6000
2  5500

## 2: Read mba.csv file and just fetch the name and fees and print it with the help of data frame

In [18]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('mba.csv')

pd.DataFrame(df)

    name  fees
0    tom  1000
1    bob  2000
2    joy  3000
3  marry  4000
4   josh  5000
5    sam  6000

## 3: Fetch your answer for question 2 with the help of Pandas Series.

In [19]:
import pandas as pd

df = pd.read_csv("mba.csv")

# Fetch only the 'Name' and 'Fees' columns
print(pd.Series(df['name']))
print(pd.Series(df['fees']))

0      tom
1      bob
2      joy
3    marry
4     josh
5      sam
Name: name, dtype: object
0    1000
1    2000
2    3000
3    4000
4    5000
5    6000
Name: fees, dtype: int64

## 4: Copy the data from csv file dirtydata.csv and replace all the null calories value to 120 and also try to change the null date format to a valid date.

In [20]:
df = pd.read_csv("dirtydata.csv")
print(df)

df["Calories"].fillna(120,inplace=True)
print("------------NaN change into 120 for calories-------------------")
print(df)
print('-------------change NaN into valid date for date---------------')
df['Date'].fillna("2020/12/22'",inplace=True)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
print(df)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60     20201226    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0
------------NaN change into 120 for calories-------------------
    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112     120.0
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60     20201226    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132     120.0
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0
-------------change NaN into valid date for date---------------
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     120.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45 2020-12-22    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60        NaT    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     120.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

## 5: Take a data frame df2 and replace all Na rows with the mode value for the column calories. Data set is dirty data.

In [21]:
df = pd.read_csv("dirtydata.csv")
df2 = df["Calories"].fillna(df["Calories"].mode()[0],inplace=True)
print(df)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112     300.0
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60     20201226    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132     300.0
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

## 6: Take df2 and for all the index values for the column calories if it is > 250 replace the calorie value with 250.

In [22]:
df2 = pd.read_csv('dirtydata.csv')
df2.loc[df2['Calories'] > 250, 'Calories'] = 250
print(df2)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     250.0
1         60  2020/12/02'    117       145     250.0
2         60  2020/12/03'    103       135     250.0
3         45  2020/12/04'    109       175     250.0
4         45  2020/12/05'    117       148     250.0
5         60  2020/12/06'    102       127     250.0
6         60  2020/12/07'    110       136     250.0
7        450  2020/12/08'    104       134     250.0
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     250.0
10        60  2020/12/11'    103       147     250.0
11        60  2020/12/12'    100       120     250.0
12        60  2020/12/12'    100       120     250.0
13        60  2020/12/13'    106       128     250.0
14        60  2020/12/14'    104       132     250.0
15        60  2020/12/15'     98       123     250.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     250.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     250.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     250.0
22        45          NaN    100       119     250.0
23        60  2020/12/23'    130       101     250.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     250.0
26        60     20201226    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     250.0
30        60  2020/12/30'    102       129     250.0
31        60  2020/12/31'     92       115     243.0